//Variables
$bg-celeste:#3c91e6;
$bg-green:#4ca866;
$bg-orange:#E4572E;
$bg-yellow1:#FA824C;
$bg-yellow2:#F1DD7B;

$color-state:#BDDFC7;



$tipografia-title:"PT Mono", monospace;
$tipografia-sub_title: "Roboto", sans-serif;

$alinacion-textos: left;
$alinacion-titulos:center;


$ancho__foto_categoria: 85px;
$alto__foto_categoria: 74px;
$border__fotos:20px;

/* Imagenes*/

$ancho__foto_novedades: 603px;
$alto__foto_novedades: 314px;


